{% extends 'blog/base_blog.html' %}

{% block title %}
    Tags list - {{ block.super}}
{% endblock %}

{% block content %}
<h1 class="mb-5"> Post with "{{ tag.title|title}} color='red' " tag </h1>

    {% for n in tag.posts.all %}
        <div class="card text-white bg-primary mb-4">
          <div class="card-header">
                {{ n.date_pub}}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{n.title}}</h5>
            <p class="card-text">{{n.body|truncatewords:15}}</p>
            <a href="{{ n.get_absolute_url }}" class="btn btn-primary">Read</a>
          </div>
        </div>

    <div class="card-footer text-muted">
            Tags:
         <a href="{{ tag.get_absolute_url }}"> {{ tag.title }} </a>


     </div>

    {% endfor %}

{% endblock %}